/* ----------- GLOBALS --------- */
.footer,
.content > div > a {
  color: var(--white);
}

.waveCtn,
.waveCtn > svg,
.content,
.content > a,
.content > div {
  display: flex;
}

.waveCtn,
.waveCtn > svg,
.content > div {
  width: 100%;
  height: fit-content;
}

.content > div > a,
.content > p {
  font-weight: 300;
}

.content,
.content > a {
  justify-content: center;
  align-items: center;
}

/* ---------FOOTER --------- */

.content {
  background-color: var(--bg_primary);
  flex-direction: column;
  padding: var(--margin_default);
  gap: calc(1.5 * var(--margin_default));
}

.content > h2 {
  font-size: calc(var(--font_big) + 0.5rem);
  margin: 0;
}

.content > a {
  color: var(--bg_primary);
  flex-direction: row;
  gap: calc(var(--margin_default) / 2);
  padding: calc(var(--margin_default) / 10) calc(var(--margin_default) / 2);
  background-color: var(--white);
  border-radius: 5px;
  font-weight: 600;
  font-size: var(--font_medium);
}

.content > div {
  justify-content: space-around;
}

.content > div > a {
  display: grid;
  place-items: center;
  gap: 5px;
}

@media screen and (min-width: 1200px) {
  .content > div {
    max-width: 50%;
    margin: 0 auto;
  }
}
