/* GLOBALS ATTRIBUTES */
.logo,
.rotateContainer,
.rotate,
.menuContent > ul > li {
  cursor: pointer;
}

.rotate,
.rotate > g > path,
.menuContent {
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    d 300ms ease-in-out, opacity 300ms ease-out;
}

.headerContainer,
.menuContent,
.rotateContainer,
.header {
  background-color: var(--bg_primary);
}
/* ------------------------------------------ */

.header,
.container {
  display: flex;
}

.header {
  justify-content: space-between;
  padding: var(--margin_default);
}

.container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: white;
  margin: 0;
  font-size: var(--font_big);
}

.logospan {
  font-size: var(--font_normal);
}

/* btn menu */
.rotateContainer {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  z-index: 2;
  padding: 0.8rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.menu {
  transform: rotate(45deg);
}

.menu > g > path:nth-child(1) {
  d: path("M16 3 L16 29");
}

.menu > g > path:nth-child(2) {
  d: path("M3 16 L29 16");
}

/* menu content */
.menuContent {
  position: fixed;
  inset: 0px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.menuContent > ul {
  list-style-type: none;
  color: var(--white);
  font-size: var(--font_title);
  line-height: var(--font_normal);
  padding-right: calc(1rem + var(--margin_default));
  margin-top: calc(4rem + var(--margin_default));
  text-align: right;
  width: 40%;
  margin-left: auto;
}

.menuContent > ul > li {
  margin-bottom: var(--margin_default);
  font-weight: 600;
  transform: translateX(100%);
  transition: transform 500ms ease-in;
}

.reveal {
  opacity: 1;
  pointer-events: inherit;
}

.reveal > ul > li {
  transform: translateX(0);
  pointer-events: inherit;
}

/* AVATAR */
.avatarCtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar {
  width: calc(6 * var(--margin_default));
  height: calc(6 * var(--margin_default));
  background-color: var(--white);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--white);
}

.avatarInf {
  display: inline-block;
  text-align: center;
  color: var(--white);
  margin: calc(var(--margin_default) / 2) 0 var(--margin_default);
}

.avatarInf > h3,
.avatarInf > h4 {
  font-weight: 300;
  margin: 0;
  line-height: var(--margin_default);
}

/* WAVE */
.waveCtn,
.waveCtn > svg {
  width: 100%;
}

.socialmedia {
  display: flex;
  gap: var(--margin_default);
  align-self: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .headerContainer {
    justify-content: space-around;
    padding: calc(1.2 * var(--margin_default)) 0;
  }

  .rotateContainer {
    display: none;
  }

  .menuContent {
    position: inherit;
    display: flex;
    width: inherit;
    pointer-events: inherit;
    opacity: 1;
    width: auto;
  }

  .menuContent > ul {
    margin: 0;
    display: flex;
    gap: calc(1.5 * var(--margin_default));
    padding: 0;
  }

  .menuContent > ul > li {
    width: auto;
    transform: none;
    margin: 0;
  }

  .avatarCtn {
    flex-direction: row;
    gap: var(--margin_default);
  }

  .avatar {
    width: calc(8 * var(--margin_default));
    height: calc(8 * var(--margin_default));
  }

  .avatarCtn > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }

  .avatarInf {
    margin: 0;
    text-align: left;
  }

  .avatarInf > h3 {
    font-size: var(--font_big);
    line-height: calc(var(--margin_default) * 1.2);
  }

  .socialmedia {
    align-self: inherit;
    gap: calc(var(--margin_default) / 1.5);
  }

  .socialmedia > a > svg {
    width: 25px;
  }
}
